$mobile-only: "only screen and (max-width : 768px)";

.item_properties {
    padding: 10px 0;

    h3 {
        padding: 0 0 5px 0;
        .item_properties-title {
            color: indianred;
        }
    }

    .item_properties-points {
        span.item_properties-points_border {
            color: rgb(255, 102, 0);
            padding: 0 10px 0 0;
            border-right: 1px solid yellowgreen;
            a {
                color: orangered;
            }
        }

        span {
            color: rgb(255, 102, 0);
            padding: 0 0 0 10px;
            span {
                padding: 0;
            }
        }
    }
}