<!-- new -->
<section class="item_properties">
    <h3>
        <a 
            class="item_properties-title" 
            href="{{ item?.url }}" 
            target="_blank"
            rel="noopener">
            {{ item.title }}
        </a>
    </h3>
    <div class="item_properties-points">
        <span class="item_properties-points_border">
            {{item.score}} points by
            <a href="#">{{item.by}}</a>
        </span>
        <span>
            <span *ngIf="item.descendants !== 0">
                {{item.descendants}}
                <span *ngIf="item.descendants === 1">comment</span>
                <span *ngIf="item.descendants > 1">comments</span>
            </span>
            <span *ngIf="item.descendants === 0">discuss</span>
        </span>
    </div>

    <app-comment-list 
        *ngIf="item.kids"
        [ids]="item.kids"
        isRoot="true">
    </app-comment-list>
</section>





