/* You can add global styles to this file, and also import other style files */
*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    // border-radius: 20px;
    background-color: #111;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #159957;
    background-image: linear-gradient(120deg,#155799,#159957);
  }
