.collapse {
    cursor: pointer;
    color: skyblue;
}

ul {
    li {
        list-style: none;
        h3 {
            color: slateblue;
        }

        p {
            padding: 5px;
        }
    }
}